footer {
    text-align: center;
    color: white;
    background-color: #212529;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
   justify-content: center;
}

th, td {
    vertical-align: middle;
}

.content{
    flex: 1; 
    text-align: center;
}

.middle-info {
    display: flex;
    flex-wrap: wrap;
    background-color:  #212529;
    color: white;
    justify-content: center;
}

.spinner{
    width: 5rem;
    height: 5rem;
    border-width: 0.5rem;
}


.generic-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
    padding: 40px;
}

/* .weather-overview{
    padding: 20px;
} */


.hour-info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.general-weather-spec {
    border-bottom: 0.5px solid grey;
    border-top:0.5px solid grey;;
    padding: 10px;
    /* margin-left: 40px; */
}

.two-four-weather{
    width: 1000px; 
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
}

.main-temp{
    font-size: 70px;
}